---
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About | Hangry Food Blog">
	<Main>
		<H1 text='About Hangry Food Blog'></H1>
		<div class="mt-16 mb-16 prose prose-2xl overflow-visible relative mx-auto">
			<p>This blog was started with the intention of showcasing my favourite recipes that hold off my hangry intentions.</p>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
			<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
		</div>
	</Main>
</Layout>