---
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
import {Image} from "astro:assets"
---

<Layout title="Home | Hangry Food Blog">
	<Main>
		<H1 text='Hangry Food Blog'></H1>
		<Image 
			src="/astro_food_blog/hangry_cat.jpg"
			width={1024}
			height={1024 / 1.5}
			alt="Hangry Cat"
			format='webp'
		/>
		<div class="mt-16 mb-16 prose prose-2xl overflow-visible relative mx-auto">
			<p>
				Look, we've all been there. So much so, Hangry was <a class="text-red-500 hover:text-red-700" href="https://www.bbc.com/news/uk-42870791">accepted into the Oxford English Dictionary</a>.
			</p>
			<p>
				That's why we created this blog, to help you when you've got nowhere else to turn for inspiration. So relax, keep that hangry monster at bay, and enjoy our collection of recipes specifically chosen to bring the best out of you.
			</p>
		</div>
	</Main>
</Layout>